<div class="file-formats-content">

    <h2>File Format Specifications</h2>
    <mat-accordion>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Robinhood
                </mat-panel-title>
            </mat-expansion-panel-header>
            <app-file-format-robinhood />
        </mat-expansion-panel>

        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <mat-panel-title>
                    Others
                </mat-panel-title>
            </mat-expansion-panel-header>
        </mat-expansion-panel>
    </mat-accordion>

</div>