<div class="file-input-container"
     [class.drag-active]="dragActive()"
     (dragover)="onDragOver($event)"
     (dragenter)="onDragEnter($event)"
     (dragleave)="onDragLeave($event)"
     (drop)="onDrop($event)">
  <input
    #fileInput
    id="tdcFileInput"
    type="file"
    [accept]="accept()"
    class="visually-hidden"
    (change)="onFileInputChange($event)"
    [disabled]="disabled()" />

  <button
    type="button"
    mat-raised-button
    color="primary"
    (click)="onButtonClick()"
    [disabled]="disabled()">
    <mat-icon>upload</mat-icon>
    {{ selectedFileName() || 'Choose File' }}
  </button>
</div>
